


.demo-2 {
	--color-text: #faf6f1;
    --color-bg: #191817;
    --color-link: #c3846e;
    --color-link-hover: #fff;
    --color-content-link: #FAF6F1;
    --color-content-link-hover: #FAF6F1;
    --color-heading: #4c4742;
    --font-content: 'Antic Didone';
}


@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	outline: none;
}

.content {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: calc(100vh - 13rem);
	justify-content: flex-start;
	align-items: center;
}

.distort {
	position: absolute;
	pointer-events: none;
	will-change: transform;
}

.distort__img {
	opacity: 0;
}

.content {
	font-family: var(--font-content), serif;
}



.demo-2 .menu {
	line-height: 1.5;
}



.menu__link,
.quote__link {
	z-index: 999;
	position: relative;
	white-space: nowrap;
}

.menu__link:hover,
.quote__link:hover {
}

.menu__link span,

@media screen and (min-width: 53em) {
	body {
		overflow: hidden;
	}
	.message {
		display: none;
	}
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		max-width: none;
		height: 100vh;
		padding: 2rem;
		pointer-events: none;
		grid-template-columns: 20% 80%;
		grid-template-rows: 2rem auto auto;
		grid-template-areas: 'credits demos'
							 'credits photography'
							 'contact title';
	}
	.frame__title-wrap {
		grid-area: title;
		display: flex;
		justify-content: flex-end;
		align-self: end;
	}
	.frame__title {
		margin: 0 2rem 0 0;
	}
	.frame__photography {
		grid-area: photography;
		align-self: center;
		justify-self: end;
		writing-mode: vertical-lr;
	}
	.frame__credits {
		grid-area: credits;
	}
	.frame__contact {
		grid-area: contact;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
	.quote {
		font-size: 9vh;
	}
	.quote__author {
		font-size: 2.5vh;
	}
	.quote__link::after {
		top: calc(100% - 1vh);
	}
}
