*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
}

body {
	--color-text: #ffffff;
    --color-link: #fff;
    --color-link-hover: #ffffff;
    --color-content: #4e4e4e;
	--font-alt: freight-display-pro, serif;
	color: var(--color-text);
	font-family: soleil, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Cursor styles */
    --cursor-stroke: #5c5edc;
    --cursor-fill: none;
    --cursor-stroke-width: 2px;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}


@media screen and (min-width: 53em) {
	.frame {
		position: fixed;
		text-align: left;
		z-index: 10000;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		pointer-events: none;
		grid-template-columns: 40% 20% 40%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'title initials links'
							'... ... ...'
							'... demos ...';
	}
	.frame__title {
		grid-area: title;
		margin: 0;
	}
	.frame__initials {
		grid-area: initials;
		margin: 0;
		justify-self: center;
	    align-self: center;
	}
	.frame__demos {
		margin: 0;
		grid-area: demos;
		justify-self: center;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame__info {
		grid-area: info;
		margin: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
}

@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
	}
}
